.good-slider {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.image-container {
  width: 92px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.good-image {
  width: 73px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.active-photo {
  width: 258px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-image {
  width: 258px;
  border-radius: 0.5rem;
}