.scroll-lock {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.cart-page {
  height: calc(100vh - 180px);
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color);
}

.cart-components {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.cart-container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.products-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0 0 1rem 1rem;
}

.cart-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0 0 1rem 1rem;
  border: 2px solid var(--border-color);
  border-top: none;

}

.summary-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: green;
  gap: 1rem;
}

.summary-products,
.summary-total,
.promo-total {
  font-size: 1.25rem;
}

.summary-button {
  width: 40%;
  height: 2rem;
}

.promo-input {
  width: 50%;
  min-height: 25px;
  outline: none;
  border: 1px solid orange;
  border-radius: 0.75rem;
  text-align: center;
}

.promo-data {
  color: orange;
}