.cart-page {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #3681AB 0%, #AED7ED 100%);
}

.cart-components {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}