.product-page {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
}

.product-details {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}