.person-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  background-color: transparent;
  color: orange;
}

.person-input {
  width: 95%;
  min-height: 30px;
  margin: 0 auto;
  outline: none;

  font-size: 1rem;
  text-align: center;

  border: 1px solid orange;
  border-radius: 0.75rem;
  background-color: transparent;
  color: green;
}

.name-error,
.phone-error,
.address-error,
.mail-error {
  color: red;
}