.footer {
  margin-top: auto;
  height: 80px;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 8px #333333;
  background: #3681AB;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.footer-left,
.footer-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.github {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.github:hover {
  transition: 0.3s all;
  transform: scale(1.05);
  cursor: pointer;
}

.app-developer {
  font-size: 1.5rem;
}

.rsschool {
  width: 135px;
  height: 50px;
  background-image: url("../../assets/svg/rsschool.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  transition: 0.3s linear;
  transform: scale(1.05);
}