.sort-and-search-wrapper{
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
}

.sort-select, .goods-search {
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333333;
  border-radius: 6px;
}