* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-color: #161b22;
  --footer-bg-color: #161b22;
  --bg-color: #0d1117;
  --font-color: #c9d1d9;
  --filter-color: #1e2633;
  --button-bg-color: #21262d;
  --bg-hover-color: #4c555d;
  --border-color: #4c555d;
  --filter-blue: invert(81%) sepia(73%) saturate(3631%) hue-rotate(202deg) brightness(90%) contrast(101%);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0.25rem;
  background-color: var(--button-bg-color);
  color: var(--font-color);
  cursor:pointer;
  border: 1px solid var(--border-color);
  font-weight: 600;
}

button:hover {
  background-color: var(--bg-hover-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-color);
  color: var(--font-color);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid var(--font-color);
}