.page-404 {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: transparent;
}

.error-404 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}